
<div class="modal-header">
	<h3 class="modal-title">Update</h3>
</div>

<div class="modal-body">
	<alert type="danger" close="closeResponse()" ng-if="response.success === false">
		{{response.message}}
	</alert>
	<form name="routesUpdateForm" ng-submit="update(scope)">
		<input type="hidden" ng-model="scope.id" value="{{scope.id}}" />
		<div class="form-group">
			<label for="name">Name:</label>
			<input type="text" id="name" ng-model="scope.name" aria-describedby="nameHelp" class="form-control">
			<span class="help-block" id="nameHelp">Name of the scope must match the following regexp <code>[A-z0-9\-\_]{3,64}</code></span>
		</div>
		<div class="form-group">
			<label for="description">Description:</label>
			<input type="text" id="description" ng-model="scope.description" aria-describedby="descriptionHelp" class="form-control">
			<span class="help-block" id="descriptionHelp">Description of the scope</span>
		</div>
		<table class="table">
		<colgroup>
			<col width="*" />
			<col width="60" />
			<col width="60" />
			<col width="60" />
			<col width="60" />
			<col width="50" />
		</colgroup>
		<thead>
		<tr>
			<th>Route</th>
			<th>GET</th>
			<th>POST</th>
			<th>PUT</th>
			<th>DELETE</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="route in routes">
			<td>{{route.path}}</td>
			<td><input type="checkbox" ng-model="route.allowedMethods.get" value="GET" ng-disabled="route.methods.indexOf('GET') == -1" /></td>
			<td><input type="checkbox" ng-model="route.allowedMethods.post" value="POST" ng-disabled="route.methods.indexOf('POST') == -1" /></td>
			<td><input type="checkbox" ng-model="route.allowedMethods.put" value="PUT" ng-disabled="route.methods.indexOf('PUT') == -1" /></td>
			<td><input type="checkbox" ng-model="route.allowedMethods.delete" value="DELETE" ng-disabled="route.methods.indexOf('DELETE') == -1" /></td>
		</tr>
		</tbody>
		</table>
		<button type="submit" class="btn btn-primary">Save</button>
		<button type="button" ng-click="close()" class="btn btn-default">Cancel</button>
	</form>
</div>
