
<div class="modal-header">
    <h3 class="modal-title">Update</h3>
</div>

<div class="modal-body">
    <uib-alert type="danger" close="closeResponse()" ng-if="response.success === false">
        {{response.message}}
    </uib-alert>
    <form name="configUpdateForm" ng-submit="update(config)">
        <input type="hidden" ng-model="config.id" value="{{config.id}}" />
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" ng-model="config.name" readonly aria-describedby="nameHelp" class="form-control">
            <span class="help-block" id="nameHelp"></span>
        </div>
        <div class="form-group">
            <label for="name">Value:</label>
            <div ng-if="config.type == 1">
                <input type="text" ng-model="config.value" aria-describedby="valueHelp" class="form-control">
            </div>
            <div ng-if="config.type == 2">
                <input type="checkbox" ng-model="config.value" aria-describedby="valueHelp">
            </div>
            <div ng-if="config.type == 3">
                <input type="number" ng-model="config.value" aria-describedby="valueHelp" class="form-control">
            </div>
            <div ng-if="config.type == 4">
                <input type="datetime" ng-model="config.value" aria-describedby="valueHelp" class="form-control">
            </div>
            <div ng-if="config.type == 5">
                <input type="email" ng-model="config.value" aria-describedby="valueHelp" class="form-control">
            </div>
            <div ng-if="config.type == 6">
                <textarea ng-model="config.value" rows="6" aria-describedby="valueHelp" class="form-control"></textarea>
            </div>
            <div ng-if="config.type == 7">
                <input type="password" ng-model="config.value" aria-describedby="valueHelp" class="form-control">
            </div>
            <span class="help-block" id="valueHelp"></span>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" ng-click="close()" class="btn btn-default">Cancel</button>
    </form>
</div>
