
<div class="modal-header">
    <h3 class="modal-title">Create</h3>
</div>

<div class="modal-body">
    <uib-alert type="danger" close="closeResponse()" ng-if="response.success === false">
        {{response.message}}
    </uib-alert>
    <form name="routesCreateForm" ng-submit="create(scope)">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" ng-model="scope.name" aria-describedby="nameHelp" class="form-control">
            <span class="help-block" id="nameHelp">Name of the scope must match the following regexp <code>[A-z0-9\-\_]{3,64}</code></span>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" id="description" ng-model="scope.description" aria-describedby="descriptionHelp" class="form-control">
            <span class="help-block" id="descriptionHelp">Description of the scope</span>
        </div>
        <div class="fusio-grid">
            <table class="table">
                <colgroup>
                    <col width="*" />
                    <col width="60" />
                    <col width="60" />
                    <col width="60" />
                    <col width="60" />
                </colgroup>
                <thead>
                <tr>
                    <th>Route</th>
                    <th>GET</th>
                    <th>POST</th>
                    <th>PUT</th>
                    <th>DELETE</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="route in routes">
                    <td><code class="fusio-route-path">{{route.path}}</code></td>
                    <td><input type="checkbox" ng-model="route.allowedMethods.get" value="GET" /></td>
                    <td><input type="checkbox" ng-model="route.allowedMethods.post" value="POST" /></td>
                    <td><input type="checkbox" ng-model="route.allowedMethods.put" value="PUT" /></td>
                    <td><input type="checkbox" ng-model="route.allowedMethods.delete" value="DELETE" /></td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" ng-click="close()" class="btn btn-default">Cancel</button>
    </form>
</div>
