
body
{
    background-color:#fff;
    font-family: 'Roboto', sans-serif;
}

pre
{
    padding:0px;
    margin:0px;
    border:none;
    border-radius:0px;
}

.container-fluid
{
}

.fusio-header-profile
{
    margin:10px 0;
}

.fusio-header-profile a
{
    color:#fff;
}

.fusio-header-profile a > span
{
    vertical-align:top;
    margin-left:4px;
}

.fusio-header-profile a:hover, a:focus
{
    text-decoration:none;
}

.fusio-header-profile a span
{
    margin-right:4px;
}

.fusio-sidebar 
{
    background-color:#021c35;
    position:fixed;
    height:100%;
}

.fusio-navigation
{
    width:180px;
    float:left;
    padding:0 15px;
}

@media (max-width:767px) {
    .fusio-navigation
    {
        width:110px;
    }
}

.fusio-navigation > h1
{
    color:#eee;
    padding:12px 15px;
    margin:0px -15px;
    border-bottom:1px solid #021c35;
    font-size:1em;
    background-color: #222;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(top,#444 0,#222 100%);
    background-image: -o-linear-gradient(top,#444 0,#222 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#444),to(#222));
    background-image: linear-gradient(to bottom,#444 0,#222 100%);
}

.fusio-navigation > h1 > span
{
    color:#666;
}

.fusio-navigation ul > li > a,
.fusio-navigation ul > li > a:link,
.fusio-navigation ul > li > a:visited,
.fusio-navigation ul > li > a:hover,
.fusio-navigation ul > li > a:active
{
    color:#fff;
    white-space:nowrap;
    padding-left:0;
    background-color:#021c35;
}

.fusio-navigation ul > li > a:hover
{
    color:#55acee;
}

.fusio-navigation .glyphicon
{
    margin-right:6px;
}

.fusio-navigation-heading
{
    background-color:#054582;
    padding:6px 15px;
    margin:0 -15px;
}

.fusio-navigation-heading a
{
    color:#fff;
    display:block;
    text-decoration:none;
}

.fusio-container
{
    margin-left:180px;
}

@media (max-width:767px) {
    .fusio-container
    {
        margin-left:110px;
    }
}

.fusio-content
{
    background-color:#fff;
}

.fusio-content > div > h1
{
    color:#eee;
    padding:12px 15px;
    margin:0px -15px;
    margin-bottom:10px;
    border-bottom:1px solid #021c35;
    font-size:1em;
    background-color: #222;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(top,#444 0,#222 100%);
    background-image: -o-linear-gradient(top,#444 0,#222 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#444),to(#222));
    background-image: linear-gradient(to bottom,#444 0,#222 100%);
}

.fusio-content > div > h1 > a
{
    color:#eee;
}

.fusio-search
{
    margin-bottom:20px;
}

.fusio-search .table td
{
    border-top:none;
}

.fusio-grid
{
    border:1px solid #ccc;
}

.fusio-grid > table
{
    margin-bottom:0;
}

.fusio-grid > table > thead > tr > th
{
    font-weight:bold;
    font-size:1em;
    padding: 10px 15px;
    padding-left: 8px;
    border-bottom: 1px solid;
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
}

.fusio-grid > table > tbody > tr > td
{
    vertical-align:middle;
    height:50px;
}

.fusio-options
{
    white-space:nowrap;
    text-align:right;
}

.fusio-table-tab tbody tr:first-child td
{
    border-top:none;
}

.fusio-table-tab-token pre
{
    background-color:transparent;
}

.fusio-panel
{
    height:300px;
    overflow:hidden;
}

.fusio-panel table tbody tr:first-child td
{
    border-top:none;
}

.fusio-panel table
{
}

.fusio-login
{
    background-color:#021c35;
    position:fixed; 
    left:0px; 
    top:0px;
    width:100%;
    height:100%;
    z-index:101;
}

.fusio-login header
{
    background-color:#55acee;
    background-image:url(../img/grid.png);
    background-repeat:no-repeat;
    background-position:bottom left;
    width:100%;
    top:0px;
    left:0px;
    height:50px;
}

.fusio-login header h1
{
    color:#fff;
    margin:0px 15px;
    padding:10px 0px;
    font-size:1.8em;
    font-weight:bold;
    text-shadow:2px 1px #444;
}

.fusio-login header h1 > span
{
    vertical-align:middle;
    color:#fff;
    font-size:0.4em;
    text-shadow:none;
}

.fusio-login-panel
{
    background-color:#fff;
    width:400px;
    border:1px solid #fff;
    margin:0 auto;
    margin-top:32px;
}

.fusio-login-panel-body
{
    margin:8px;
}

.fusio-log-entry pre
{
    padding:6px;
    margin-bottom:8px;
}

.fusio-route-path
{
    background-color:inherit;
    color:inherit;
}

.fusio-log-detail-header,
.fusio-log-detail-body,
.fusio-error-detail-trace
{
    background-color:#fff
}

.fusio-action-designer-config
{
    height:530px;
    overflow:auto;
}

.fusio-action-designer-config .ace_editor
{
}

.fusio-action-designer-request
{
    height:530px;
    overflow:auto;
}

.fusio-action-designer-request .ace_editor
{
    height:133px;
}

.fusio-action-designer-response > h4
{
    margin:0px;
    padding:8px;
}

.fusio-schema-designer-config
{
    height:550px;
    overflow:auto;
}

.fusio-schema-designer-config .ace_editor
{
    height:430px;
}

.fusio-schema-designer-preview
{
    height:550px;
    overflow:auto;
}

/* general bootstrap fixes */
.form-control, .btn
{
    border-radius:0px;
}

.nav-tabs
{
    margin-bottom:4px;
}

.nav-tabs > li > a
{
    border-radius:0px;
}

.nav, .pagination, .carousel, .panel-title a 
{ 
    cursor: pointer; 
}

.dropdown-menu
{
    border-radius:0px;
}

.modal-content
{
    border-radius:0px;
}

.panel
{
    border-radius:0px;
}

.alert
{
    border-radius:0px;
}

.nav-pills > li > a
{
    border-radius:0px;
}

.pagination
{
    border-radius:0px;
}

.pagination > li:last-child > a, .pagination > li:last-child > span
{
    border-radius:0px;
}

.pagination > li:first-child > a, .pagination > li:first-child > span
{
    border-radius:0px;
}

.panel-group .panel
{
    border-radius:0px;
}

.panel-heading
{
    font-weight:bold;
}

.ace_editor
{
    /* height:133px; 2 blocks */
    /* height:232px; 3 blocks */
    /* height:331px; 4 blocks */
    height:232px;
    border:1px solid #ccc;
}

.dropdown-menu
{
    width:calc(100% - 40px);
}

/* psx schema */
.psx-object {
    margin:0;
    margin-bottom:8px;
    border:1px solid #ccc;
}

.psx-object > h1 {
    font-weight:bold;
    font-size:1em;
    margin:0;
    padding: 10px 15px;
    padding-left: 8px;
    border-bottom: 1px solid #ccc;
    color: #333;
    background-color: #f5f5f5;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
}

.psx-object-description {
    margin:8px 0;
    padding:0 8px;
}

.psx-object-json {
    border-radius:0;
    border:0;
    margin:0;
    padding:8px;
}

.psx-object-json-key {
    color:#0d904f;
}

.psx-object-json-pun {
    color:#0d904f;
}

.psx-object-properties {
    margin:8px 0;
}

.psx-property-type {
    font-family:monospace;
    font-weight:bold;
}

.psx-property-name {
    font-family:monospace;
    font-weight:bold;
}

.psx-property-description {
    margin-top:8px;
    font-size:0.9em;
}

.psx-property-constraint {
    margin-top:8px;
    font-size:0.9em;
}

.psx-property-required {
    border-bottom:1px dotted #999;
}

/* loading animation */
#loading-bar-spinner
{
    position:relative;
    margin-left:2px;
    margin-top:2px;
}

#loading-bar-spinner .spinner-icon
{
    border-top-color:#fff;
    border-left-color:#fff;
}

.fusio-loading-container
{
    width:38px;
    height:38px;
    overflow:hidden;
}

tags-input .tags
{
    border-radius:0;
}
