
<div class="modal-header">
    <h3 class="modal-title">Detail</h3>
</div>

<div class="modal-body">
    <uib-accordion close-others="false">
        <div uib-accordion-group class="panel-default" heading="Header" is-open="true">
            <pre class="fusio-log-detail-header">{{log.header}}</pre>
        </div>
        <div uib-accordion-group class="panel-default" heading="Body" is-open="true" ng-if="log.body">
            <pre class="fusio-log-detail-body">{{log.body}}</pre>
        </div>
    </uib-accordion>

    <div ng-if="log.errors.length > 0">
        <div class="fusio-grid">
            <table class="table">
                <colgroup>
                    <col width="*" />
                    <col width="50" />
                </colgroup>
                <thead>
                <tr>
                    <th>Message</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="error in log.errors">
                    <td>{{error.message}}</td>
                    <td>
                        <div class="fusio-options">
                            <a ng-click="openDetailDialog(error)" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
    </div>

    <button type="button" ng-click="close()" class="btn btn-default">Cancel</button>
</div>
