
.fusio-login {
  max-width:300px;
  margin-top:128px;
  padding-bottom:16px;
  border:1px solid #444;
}

.fusio-app {
  margin-bottom:32px;
}

.fusio-sidebar {
  border:1px solid #444;
  height:600px;
}

.fusio-sidebar h6 {
  background-color:#eee;
  padding:8px;
  margin:0px;
  font-weight:bold;
  font-size:12px;
}

.fusio-sidebar li {
}

.fusio-sidebar li a {
  padding:4px;
  padding-left:8px;
  font-size:14px;
  display:block;
  text-decoration:none;
}

.fusio-sidebar li a:hover {
  background-color:#eee;
}

.fusio-editor {
  width:100%;
  height:600px;
  border:1px solid #444;
}

.fusio-tabs {
  height:600px;
  border:1px solid #444;
}

.fusio-tabs > div {
  background-color:#eee;
  padding:6px;
  margin:0px;
  font-weight:bold;
  font-size:12px;
}

.fusio-tabs > form {
  padding:8px;
}

.fusio-tabs-header {
  cursor:pointer;
  padding:7px;
}

.fusio-tabs-header-active {
  background-color:#fff;
}

.fusio-response {
  height:400px;
  border:1px solid #444;
  padding:8px;
  overflow:auto;
  background-color:#eee;
}

.fusio-new-button {
  margin-right:12px;
  cursor:pointer;
}

.fusio-app h5 {
  margin:0px;
  margin-top:8px;
  padding:6px;
  background-color:#343a40;
  color:#fff;
  font-weight:bold;
  font-size:12px;
  border:1px solid #444;
  border-bottom:0;
}

#login {
  margin-top:16px;
}

#user {
  margin-right:16px;
}
