
<div class="modal-header">
	<h3 class="modal-title">Create</h3>
</div>

<div class="modal-body">
	<div ng-if="!response.success && response.message" class="alert alert-danger" role="alert">
		{{response.message}}
	</div>
	<form name="routesCreateForm" ng-submit="create(route)">
		<div class="form-group">
			<label for="methods">Methods:</label>
			<input type="text" id="methods" ng-model="route.methods" class="form-control">
		</div>
		<div class="form-group">
			<label for="path">Path:</label>
			<input type="text" id="path" ng-model="route.path" class="form-control">
		</div>
		<div class="form-group">
			<label for="controller">Controller:</label>
			<select id="controller" ng-model="template" ng-options="con.class as con.class for con in controllers" disabled="disabled" class="form-control">
			</select>
		</div>

		<ng-include src="template"></ng-include>

		<button type="submit" class="btn btn-primary">Save</button>
		<button type="button" ng-click="close()" class="btn btn-default">Cancel</button>
	</form>
</div>

<script type="text/ng-template" id="controller-schema-abstract">
	<table class="table">
	<colgroup>
		<col width="100" />
		<col width="200" />
		<col width="200" />
		<col width="200" />
		<col width="50" />
	</colgroup>
	<tr>
		<th>Method</th>
		<th>Request</th>
		<th>Response</th>
		<th>Action</th>
		<th></th>
	</tr>
	<tr ng-repeat="option in options">
		<td>
			<select class="form-control" ng-model="option.method" ng-options="method for method in methods">
			</select>
		</td>
		<td>
			<select class="form-control" ng-model="option.request" ng-options="schema.id as schema.name for schema in requestSchema">
			</select>
		</td>
		<td>
			<select class="form-control" ng-model="option.response" ng-options="schema.id as schema.name for schema in responseSchema">
			</select>
		</td>
		<td>
			<select class="form-control" ng-model="option.action" ng-options="action.id as action.name for action in actions">
			</select>
		</td>
		<td>
			<a ng-click="removeOptionRow(option)" class="btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
		</td>
	</tr>
	</table>
	<a ng-click="addOptionRow()" class="btn btn-default">Add</a>
</script>
