
<div class="modal-header">
    <h3 class="modal-title">Update</h3>
</div>

<div class="modal-body">
    <uib-alert type="danger" close="closeResponse()" ng-if="response.success === false">
        {{response.message}}
    </uib-alert>
    <form name="routesUpdateForm" ng-submit="update(route)">
        <input type="hidden" ng-model="route.id" value="{{route.id}}" />
        <div class="form-group">
            <label for="path">Path:</label>
            <input type="text" id="path" ng-model="route.path" ng-disabled="true" class="form-control" value="{{route.path}}">
        </div>
        <uib-tabset>
            <uib-tab ng-repeat="version in route.config" heading="v{{version.version}}" active="version.active">
                <div class="form-group">
                    <label>Status:</label>
                    <select class="form-control" ng-model="version.status" ng-options="status.key as status.value for status in statuuus" aria-describedby="statusHelp">
                    </select>
                    <span class="help-block" id="statusHelp">The status of the API endpoint for this version. For more informations about the impact 
                    click <a ng-click="help.showDialog('help/routes.md#status')">here</a></span>
                </div>
                <uib-tabset>
                    <uib-tab ng-repeat="(method, config) in version.methods" heading="{{method}}">
                        <div class="checkbox">
                            <label><input type="checkbox" ng-model="config.active" ng-disabled="version.status != 4" aria-describedby="activeHelp"> <b>Active</b></label>
                            <span class="help-block" id="activeHelp">Whether the request method is allowed</span>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" ng-model="config.public" ng-disabled="version.status != 4" aria-describedby="publicHelp"> <b>Public</b></label>
                            <span class="help-block" id="publicHelp">Whether the endpoint can be requested without an access token</span>
                        </div>
                        <div class="form-group">
                            <label>Request:</label>
                            <select class="form-control" ng-model="config.request" ng-options="schema.id as schema.name for schema in schemas" ng-disabled="method == 'GET' || version.status != 4" aria-describedby="requestHelp">
                            </select>
                            <span class="help-block" id="requestHelp">The allowed format for incoming requests. The <code>Passthru</code> schema forwards all incoming data unfiltered to the action</span>
                        </div>
                        <div class="form-group">
                            <label>Response:</label>
                            <select class="form-control" ng-model="config.response" ng-options="schema.id as schema.name for schema in schemas" ng-disabled="version.status != 4" aria-describedby="responseHelp">
                            </select>
                            <span class="help-block" id="responseHelp">The allowed format for outgoing responses. The <code>Passthru</code> schema forwards all outgoing data unfiltered to the client</span>
                        </div>
                        <div class="form-group">
                            <label>Action:</label>
                            <select class="form-control" ng-model="config.action" ng-options="action.id as action.name for action in actions" ng-disabled="version.status != 4" aria-describedby="actionHelp">
                            </select>
                            <span class="help-block" id="actionHelp">The action which receives the request and produces a response</span>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </uib-tab>
        </uib-tabset>

        <a ng-click="addVersion()" class="btn btn-default">Add version</a>

        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" ng-click="close()" class="btn btn-default">Cancel</button>
    </form>
</div>
