
<div class="modal-header">
	<h3 class="modal-title">Delete</h3>
</div>

<div class="modal-body">
	<div ng-if="!response.success && response.message" class="alert alert-danger" role="alert">
		{{response.message}}
	</div>
	<form name="routesDeleteForm" ng-submit="delete(schema)">
		<input type="hidden" ng-model="schema.id" value="{{schema.id}}" />
		<div class="form-group">
			<label for="name">Name:</label>
			<input type="text" id="name" ng-model="schema.name" class="form-control">
		</div>
		<div class="form-group">
			<label for="property_name">Property name:</label>
			<input type="text" id="property_name" ng-model="schema.propertyName" class="form-control">
		</div>
		<button type="submit" class="btn btn-primary">Save</button>
		<button type="button" ng-click="close()" class="btn btn-default">Cancel</button>
	</form>
</div>
