
<div class="modal-header">
	<h3 class="modal-title">Update</h3>
</div>

<div class="modal-body">
	<alert type="danger" close="closeResponse()" ng-if="response.success === false">
		{{response.message}}
	</alert>
	<form name="updateUpdateForm" ng-submit="update(schema)">
		<input type="hidden" ng-model="schema.id" value="{{schema.id}}" />
		<div class="form-group">
			<label for="name">Name:</label>
			<input type="text" id="name" ng-model="schema.name" aria-describedby="nameHelp" class="form-control">
			<span class="help-block" id="nameHelp">Name of the schema must match the following regexp <code>[A-z0-9\-\_]{3,64}</code></span>
		</div>
		<div class="form-group">
			<label for="source">JsonSchema:</label>
			<div ui-ace="{mode: 'json'}" id="source" ng-model="schema.source" aria-describedby="sourceHelp"></div>
			<span class="help-block" id="sourceHelp">JsonSchema which describes the data format. It is possible to refer to other schema definitions using the <code>$ref</code> key and the <code>schema</code> protocol i.e. <code>schema:///[schema-name]</code>. More informations about the JsonSchema format at the <a href="http://json-schema.org/examples.html">website</a></span>
		</div>

		<button type="submit" class="btn btn-primary">Save</button>
		<button type="button" ng-click="close()" class="btn btn-default">Cancel</button>

		<div ng-if="preview" ng-bind-html="preview"></div>
	</form>
</div>
