
body
{
	background-color:#fff;
}

pre
{
	padding:0px;
	margin:0px;
	border:none;
	border-radius:0px;
}

.container-fluid
{
	margin-top:38px;
}

.fusio-header
{
	background-color:#55acee;
	background-image:url(../img/grid.png);
	background-repeat:no-repeat;
    background-position:bottom left;
	width:100%;
	top:0px;
	left:0px;
	height:38px;
	position:fixed;
    z-index:100;
}

.fusio-header h1
{
	color:#fff;
	margin:0px 15px;
	padding:5px 0px;
	font-size:1.8em;
	font-weight:bold;
	text-shadow:2px 1px #444;
}

.fusio-header h1 > span
{
	vertical-align:middle;
	color:#fff;
	font-size:0.4em;
	text-shadow:none;
}

.fusio-header-profile
{
	margin:10px 20px;
}

.fusio-header-profile a
{
	color:#fff;
}

.fusio-header-profile a:hover, a:focus
{
	text-decoration:none;
}

.fusio-header-profile a span
{
	margin-right:4px;
}

.sidebar 
{
	background-color:#021c35;
	position:fixed;
	height:100%;
}

@media (max-width:991px) {
	.sidebar 
	{
		position:relative;
		height:none;
	}
}

.content
{
	background-color:#fff;
}

.fusio-navigation
{
	overflow:hidden;
}

.fusio-navigation ul
{
	list-style-type:none;
	padding:0px;
	margin:0px;
	margin-top:6px;
	margin-bottom:8px;
	padding-bottom:8px;
	border-bottom:1px solid #eee;
}

.fusio-navigation ul:last-child
{
	border-bottom:none;
}

.fusio-navigation a
{
	display:block;
	padding:8px 0px;
	color:#fff;
	font-family:monospace;
	text-decoration:none;
	white-space:nowrap;
}

.fusio-navigation a:hover
{
	color:#55acee;
}

.fusio-navigation .nav-head
{
	color:#55acee;
	font-weight:bold;
	font-size:0.8em;
	padding:8px;
	margin-bottom:4px;
	border-bottom:1px solid #55acee;
}

.fusio-content
{
	background-color:#fff;
	margin-bottom:64px;
}

.fusio-content > div > h1
{
	color:#eee;
	padding:12px 15px;
	margin:0px -15px;
	margin-bottom:10px;
	border-bottom:1px solid #021c35;
	font-size:0.9em;
    background-color: #222;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(top,#444 0,#222 100%);
    background-image: -o-linear-gradient(top,#444 0,#222 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#444),to(#222));
    background-image: linear-gradient(to bottom,#444 0,#222 100%);
}

.fusio-search
{
    margin-bottom:20px;
}

.fusio-search .table td
{
	border-top:none;
}

.fusio-grid
{
    border:1px solid #ccc;
}

.fusio-grid > table
{
    margin-bottom:0;
}

.fusio-grid > table > thead > tr > th
{
    font-weight:bold;
    padding: 10px 15px;
    padding-left: 8px;
    border-bottom: 1px solid;
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
}

.fusio-grid > table > tbody > tr > td
{
    vertical-align:middle;
    height:50px;
}

.fusio-options
{
	white-space:nowrap;
}

.fusio-table-tab tbody tr:first-child td
{
	border-top:none;
}

.fusio-table-tab-token pre
{
	background-color:transparent;
}

.fusio-panel
{
	height:300px;
	overflow:hidden;
}

.fusio-panel table tbody tr:first-child td
{
	border-top:none;
}

.fusio-panel table
{
}

.fusio-panel .chart-container
{
	height:220px;
}

.fusio-login
{
	background-color:#021c35;
	position:fixed; 
	left:0px; 
	top:0px;
	width:100%;
	height:100%;
}

.fusio-login header
{
	background-color:#55acee;
	background-image:url(../img/grid.png);
	background-repeat:no-repeat;
    background-position:bottom left;
	width:100%;
	top:0px;
	left:0px;
	height:50px;
}

.fusio-login header h1
{
	color:#fff;
	margin:0px 15px;
	padding:10px 0px;
	font-size:1.8em;
	font-weight:bold;
	text-shadow:2px 1px #444;
}

.fusio-login header h1 > span
{
	vertical-align:middle;
	color:#fff;
	font-size:0.4em;
	text-shadow:none;
}

.fusio-login-panel
{
	background-color:#fff;
	width:400px;
	border:1px solid #fff;
	margin:0 auto;
	margin-top:32px;
}

.fusio-login-panel-body
{
	margin:8px;
}

.fusio-log-entry pre
{
	padding:6px;
	margin-bottom:8px;
}

.fusio-statistic .chart-container
{
	height:400px;
}

.fusio-route-path
{
	background-color:inherit;
	color:inherit;
}

/* general bootstrap fixes */
.form-control, .btn
{
	border-radius:0px;
}

.nav-tabs
{
    margin-bottom:4px;
}

.nav-tabs > li > a
{
	border-radius:0px;
}

.nav, .pagination, .carousel, .panel-title a 
{ 
	cursor: pointer; 
}

.dropdown-menu
{
	border-radius:0px;
}

.modal-content
{
	border-radius:0px;
}

.panel
{
	border-radius:0px;
}

.alert
{
	border-radius:0px;
}

.nav-pills > li > a
{
    border-radius:0px;
}

.pagination
{
    border-radius:0px;
}

.pagination > li:last-child > a, .pagination > li:last-child > span
{
    border-radius:0px;
}

.pagination > li:first-child > a, .pagination > li:first-child > span
{
    border-radius:0px;
}

.panel-group .panel
{
    border-radius:0px;
}

.panel-heading
{
    font-weight:bold;
}

.ace_editor
{
	height:200px;
	border:1px solid #ccc;
}

.dropdown-menu
{
	width:calc(100% - 40px);
}

/* psx schema */
.psx-complex-type
{

}

.psx-complex-type h1
{
	margin:0px;
	margin-top:8px;
	padding:6px;
	padding-left:8px;
	font-size:20px;
	background-color:#eee;
}

.psx-property-required
{
	text-decoration:underline;
}
