
html, body, .container-fluid, .row 
{
    height:100%;
}

body
{
	background-color:#fff;
}

pre
{
	padding:0px;
	margin:0px;
	border:none;
	border-radius:0px;
}

.sidebar 
{
	background-color:#021c35;
}

@media (min-width: 992px){
  .sidebar {
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    z-index:1000;
    display:block;
    background-color:#021c35;
  }
}

.fusio-navigation
{
	background-color:#021c35;
	overflow:hidden;
}

.fusio-navigation ul
{
	list-style-type:none;
	padding:0px;
	margin:0px;
	margin-top:16px;
}

.fusio-navigation a
{
	display:block;
	padding:8px 0px;
	color:#fff;
	font-family:monospace;
}

.fusio-navigation .nav-head
{
	color:#55acee;
	font-weight:bold;
	font-size:0.8em;
	padding:8px;
	margin-bottom:4px;
	border-bottom:1px solid #55acee;
}

.fusio-content
{
	background-color:#fff;
	margin-bottom:64px;
}

.fusio-content > div > h1
{
	background-color:#eee;
	background:linear-gradient(#fff, #eee);
	padding:8px 15px;
	margin:0px -15px;
	margin-bottom:10px;
	border-bottom:2px solid #021c35;
	font-size:1.4em;
	font-weight:bold;
	font-family:monospace;
}

/* general bootstrap fixes */
.form-control, .btn
{
	border-radius:0px;
}

.nav-tabs > li > a
{
	border-radius:0px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
