
<div class="modal-header">
	<h3 class="modal-title">Create</h3>
</div>

<div class="modal-body">
	<alert type="danger" close="closeResponse()" ng-if="response.success === false">
		{{response.message}}
	</alert>
	<form name="usersCreateForm" ng-submit="create(user)">
		<div class="form-group">
			<label for="status">Status:</label>
			<select id="status" ng-model="user.status" ng-options="status.id as status.name for status in statuuus" class="form-control">
			</select>
		</div>
		<div class="form-group">
			<label for="name">Name:</label>
			<input type="text" id="name" ng-model="user.name" class="form-control">
		</div>
		<table class="table fusio-table-tab">
		<colgroup>
			<col width="20" />
			<col width="*" />
		</colgroup>
		<tbody>
		<tr ng-repeat="scope in scopes">
			<td><input type="checkbox" ng-model="user.scopes[$index]" ng-true-value="{{scope.name}}" ng-false-value="" id="scope-{{scope.id}}" /></td>
			<td><label for="scope-{{scope.id}}">{{scope.name}}</label></td>
		</tr>
		</tbody>
		</table>
		<button type="submit" class="btn btn-primary">Save</button>
		<button type="button" ng-click="close()" class="btn btn-default">Cancel</button>
	</form>
</div>
