
<div class="modal-header">
    <h3 class="modal-title">Create</h3>
</div>

<div class="modal-body">
    <uib-alert type="danger" close="closeResponse()" ng-if="response.success === false">
        {{response.message}}
    </uib-alert>
    <form name="routesCreateForm" ng-submit="create(app)">
        <div class="form-group">
            <label for="status">Status:</label>
            <select id="status" ng-model="app.status" ng-options="state.key as state.value for state in states" aria-describedby="statusHelp" class="form-control">
            </select>
            <span class="help-block" id="statusHelp">The status of the app. Only apps which are <b>Active</b> can request an access token for the API</span>
        </div>
        <div class="form-group">
            <label for="user">User:</label>
            <select id="user" ng-model="app.userId" ng-options="user.id as user.name for user in users" class="form-control" aria-describedby="userHelp"></select>
            <span class="help-block" id="userHelp">The user which is assigned to the application</span>
        </div>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" ng-model="app.name" aria-describedby="nameHelp" class="form-control">
            <span class="help-block" id="nameHelp">Name of the app must match the following regexp <code>[A-z0-9\-\_]{3,64}</code> application</span>
        </div>
        <div class="form-group">
            <label for="url">Url:</label>
            <input type="text" id="url" ng-model="app.url" aria-describedby="urlHelp" class="form-control">
            <span class="help-block" id="urlHelp">Optional url of the application</span>
        </div>
        <div class="form-group">
            <label for="parameters">Parameters:</label>
            <input type="text" id="parameters" ng-model="app.parameters" aria-describedby="parametersHelp" class="form-control">
            <span class="help-block" id="parametersHelp">Optional parameters of the application i.e. <code>premium=1&amp;blocked=no</code>. These parameters can be
            used inside an action to change the behaviour depending on the app.</span>
        </div>
        <uib-tabset>
            <uib-tab heading="Scopes">
                <table class="table fusio-table-tab">
                <colgroup>
                    <col width="20" />
                    <col width="*" />
                </colgroup>
                <tbody>
                <tr ng-repeat="scope in scopes">
                    <td><input type="checkbox" ng-model="app.scopes[$index]" ng-true-value="'{{scope.name}}'" ng-false-value="''" id="scope-{{scope.id}}" /></td>
                    <td><label for="scope-{{scope.id}}">{{scope.name}}</label></td>
                </tr>
                </tbody>
                </table>
            </uib-tab>
        </uib-tabset>
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" ng-click="close()" class="btn btn-default">Cancel</button>
    </form>
</div>
