
<h1><a ng-href="#/schema">Schema</a> / Designer</h1>

<div class="row">
    <div class="col-md-6">
        <uib-accordion close-others="false">
            <div uib-accordion-group class="panel-default" heading="Schema" is-open="true">
                <form name="actionDesignerForm" ng-submit="update(schema)" class="fusio-schema-designer-config">
                    <input type="hidden" ng-model="schema.id" value="{{schema.id}}" />
                    <div class="form-group">
                        <label for="source">JsonSchema:</label>
                        <div ui-ace="{mode: 'json'}" id="source" ng-model="schema.source" aria-describedby="sourceHelp"></div>
                        <span class="help-block" id="sourceHelp">JsonSchema which describes the data format. Click <a ng-click="help.showDialog('help/schema.md')">here</a> for more informations about the JsonSchema format.</span>
                    </div>
                    <button type="submit" class="btn btn-primary">Execute</button>
                </form>
            </div>
        </uib-accordion>
    </div>
    <div class="col-md-6">
        <uib-accordion close-others="false">
            <div uib-accordion-group class="panel-default" heading="Preview" is-open="true">
                <div ng-if="response" ng-bind-html="response.preview" class="fusio-schema-designer-preview"></div>
            </div>
        </uib-accordion>
    </div>
</div>
