
<h1><a ng-href="#/action">Action</a> / Designer</h1>

<div class="row">
    <div class="col-md-6">
        <uib-accordion close-others="false">
            <div uib-accordion-group class="panel-default" heading="Action" is-open="true">
                <form name="actionDesignerForm" ng-submit="update(action, request)" class="fusio-action-designer-config">
                    <input type="hidden" ng-model="action.id" value="{{action.id}}" />
                    <div id="config-form"></div>
                    <button type="submit" class="btn btn-primary">Execute</button>
                </form>
            </div>
        </uib-accordion>
    </div>
    <div class="col-md-6">
        <uib-accordion close-others="false">
            <div uib-accordion-group class="panel-default" heading="Request" is-open="true">
                <form class="fusio-action-designer-request">
                    <div class="form-group">
                        <label for="requestMethod">Method:</label>
                        <select id="requestMethod" ng-model="request.method" ng-options="method for method in methods" aria-describedby="requestMethodHelp" class="form-control">
                        </select>
                        <span class="help-block" id="requestMethodHelp">The request method of the HTTP request</span>
                    </div>
                    <div class="form-group">
                        <label for="requestUriFragments">URI Fragments:</label>
                        <input type="text" id="requestUriFragments" ng-model="request.uriFragments" aria-describedby="requestUriFragmentsHelp" class="form-control">
                        <span class="help-block" id="requestUriFragmentsHelp">Optional the available uri fragments i.e. <code>news_id=10</code></span>
                    </div>
                    <div class="form-group">
                        <label for="requestParameters">Parameters:</label>
                        <input type="text" id="requestParameters" ng-model="request.parameters" aria-describedby="requestParametersHelp" class="form-control">
                        <span class="help-block" id="requestParametersHelp">Optional the available parameters i.e. <code>count=10</code></span>
                    </div>
                    <div class="form-group">
                        <label for="requestBody">Body:</label>
                        <div ui-ace="{mode: 'json'}" id="requestBody" ng-model="request.body" aria-describedby="requestBodyHelp"></div>
                        <span class="help-block" id="requestBodyHelp">The JSON data of the request body</span>
                    </div>
                </form>
            </div>
        </uib-accordion>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <uib-accordion close-others="false">
            <div uib-accordion-group class="panel-default" heading="Response {{ response.statusCode }}" is-open="true" ng-if="response.statusCode">
                <div ng-if="error.message" class="fusio-action-designer-response alert-danger">
                    <h4>{{error.message}}</h4>
                    <pre style="padding:8px;border-bottom:1px solid #aaa">{{error.trace}}</pre>
                </div>
                <div ng-if="!error.message" class="fusio-action-designer-response">
                    <div hljs hljs-source="response.body" hljs-language="json"></div>
                </div>
            </div>
        </uib-accordion>
    </div>
</div>
