
<div class="modal-header">
    <h3 class="modal-title">Preview</h3>
</div>

<div class="modal-body">
    <uib-alert type="danger" ng-if="error">{{ error }}</uib-alert>

    <div ng-if="data.routes">
        <h4>Routes</h4>
        <div class="fusio-grid">
            <table class="table">
            <colgroup>
                <col width="*" />
                <col width="50" />
            </colgroup>
            <thead>
            <tr>
                <th>Path</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="route in data.routes">
                <td><code class="fusio-route-path">{{route.path}}</code></td>
                <td>
                    <div class="fusio-options">
                        <a ng-click="openRouteDialog(route)" class="btn btn-default"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                    </div>
                </td>
            </tr>
            </tbody>
            </table>
        </div>
    </div>
    <div ng-if="data.action">
        <h4>Action</h4>
        <div class="fusio-grid">
            <table class="table">
                <colgroup>
                    <col width="*" />
                    <col width="50" />
                </colgroup>
                <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="action in data.action">
                    <td>{{action.name}}</td>
                    <td>
                        <div class="fusio-options">
                            <a ng-click="openActionDialog(action)" class="btn btn-default"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div ng-if="data.schema">
        <h4>Schema</h4>
        <div class="fusio-grid">
            <table class="table">
            <colgroup>
                <col width="*" />
                <col width="50" />
            </colgroup>
            <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="schem in data.schema">
                <td>{{schem.name}}</td>
                <td>
                    <div class="fusio-options">
                        <a ng-click="openSchemaDialog(schem)" class="btn btn-default"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                    </div>
                </td>
            </tr>
            </tbody>
            </table>
        </div>
    </div>
    <br>
    <button type="button" ng-click="doProcess()" class="btn btn-primary">Import</button>
    <button type="button" ng-click="close()" class="btn btn-default">Cancel</button>
</div>
