
<div class="modal-header">
    <h3 class="modal-title">Route</h3>
</div>

<div class="modal-body">
    <div class="form-group">
        <label for="path">Path:</label>
        <input type="text" id="path" ng-model="route.path" aria-describedby="pathHelp" class="form-control">
        <span class="help-block" id="pathHelp">Path of the API endpoint i.e. <code>/acme/news</code>. It is possible 
        to use variable path fragments i.e. <code>/acme/:news</code>. Click 
        <a ng-click="help.showDialog('help/routes.md#path')">here</a> for more informations</span>
    </div>
    <uib-tabset>
        <uib-tab ng-repeat="version in route.config" heading="v{{version.name}}" active="version.active">
            <div class="form-group">
                <label for="status">Status:</label>
                <select class="form-control" ng-model="version.status" ng-options="status.key as status.value for status in statuuus" aria-describedby="statusHelp">
                </select>
                <span class="help-block" id="statusHelp">The status of the API endpoint for this version. For more informations about the impact 
                click <a ng-click="help.showDialog('help/routes.md#status')">here</a></span>
            </div>
            <uib-tabset>
                <uib-tab ng-repeat="method in version.methods" heading="{{method.name}}">
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="method.active" ng-disabled="version.status == 1" aria-describedby="activeHelp"> <b>Active</b></label>
                        <span class="help-block" id="activeHelp">Whether the request method is allowed</span>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="method.public" ng-disabled="version.status == 1" aria-describedby="publicHelp"> <b>Public</b></label>
                        <span class="help-block" id="publicHelp">Whether the endpoint can be requested without an access token</span>
                    </div>
                    <div class="form-group">
                        <label for="status">Request:</label>
                        <input type="text" class="form-control" ng-model="method.request" ng-disabled="method.name == 'GET' || version.status == 1" aria-describedby="requestHelp" />
                        <span class="help-block" id="requestHelp">The allowed format for incoming requests. The <code>Passthru</code> schema forwards all incoming data unfiltered to the action</span>
                    </div>
                    <div class="form-group">
                        <label for="status">Response:</label>
                        <input type="text" class="form-control" ng-model="method.response" ng-disabled="version.status == 1" aria-describedby="responseHelp" />
                        <span class="help-block" id="responseHelp">The allowed format for outgoing responses. The <code>Passthru</code> schema forwards all outgoing data unfiltered to the client</span>
                    </div>
                    <div class="form-group">
                        <label for="status">Action:</label>
                        <input type="text" class="form-control" ng-model="method.action" ng-disabled="version.status == 1" aria-describedby="actionHelp" />
                        <span class="help-block" id="actionHelp">The action which receives the request and produces a response</span>
                    </div>
                </uib-tab>
            </uib-tabset>
        </uib-tab>
    </uib-tabset>

    <button type="button" ng-click="close()" class="btn btn-default">Close</button>
</div>
