
<div class="modal-header">
    <h3 class="modal-title">Delete</h3>
</div>

<div class="modal-body">
    <uib-alert type="danger" close="closeResponse()" ng-if="response.success === false">
        {{response.message}}
    </uib-alert>
    <form name="actionDeleteForm" ng-submit="delete(action)">
        <input type="hidden" ng-model="action.id" value="{{action.id}}" />
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" ng-model="action.name" ng-disabled="true" class="form-control" value="{{action.name}}">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" ng-click="close()" class="btn btn-default">Cancel</button>
    </form>
</div>
