
<div class="modal-header">
    <h3 class="modal-title">Update</h3>
</div>

<div class="modal-body">
    <uib-alert type="danger" close="closeResponse()" ng-if="response.success === false">
        {{response.message}}
    </uib-alert>
    <form name="tableFksUpdateForm" ng-submit="update(table)">
        <table class="table">
            <colgroup>
                <col width="*" />
                <col width="200" />
                <col width="200" />
                <col width="200" />
                <col width="50" />
            </colgroup>
            <thead>
            <tr>
                <th>Name</th>
                <th>Columns</th>
                <th>Foreign Table</th>
                <th>Foreign Columns</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="fk in table.foreignKeys">
                <td><input type="text" ng-model="fk.name" class="form-control"></td>
                <td><input type="text" ng-list ng-model="fk.columns" class="form-control"></td>
                <td><input type="text" ng-model="fk.foreignTable" class="form-control"></td>
                <td><input type="text" ng-list ng-model="fk.foreignColumns" class="form-control"></td>
                <td>
                    <div class="fusio-options">
                        <a ng-click="removeFk(fk.name)" class="btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <button type="button" ng-click="addFk()" class="btn btn-default">Add Foreign-Key</button>
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="button" ng-click="close()" class="btn btn-default">Cancel</button>
    </form>
</div>
