
<div class="modal-header">
    <h3 class="modal-title">Filter</h3>
</div>

<div class="modal-body">
    <form name="statisticFilterForm" ng-submit="doFilter()">
        <div class="form-group">
            <label for="from">Date from/to:</label>
            <div class="row">
                <div class="col-md-6">
                    <input id="from" type="date" ng-model="filter.from" required="required" class="form-control" aria-describedby="fromHelp">
                </div>
                <div class="col-md-6">
                    <input id="to" type="date" ng-model="filter.to" required="required" class="form-control" aria-describedby="toHelp">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="app">App:</label>
            <select id="app" ng-model="filter.appId" ng-options="app.id as app.name for app in apps" class="form-control" aria-describedby="appHelp">
                <option value="">Every app</option>
                <option value="-1">Anonymous</option>
            </select>
            <span class="help-block" id="appHelp"></span>
        </div>
        <div class="form-group">
            <label for="user">User:</label>
            <select id="user" ng-model="filter.userId" ng-options="user.id as user.name for user in users" class="form-control" aria-describedby="userHelp">
                <option value="">Every user</option>
            </select>
            <span class="help-block" id="userHelp"></span>
        </div>
        <div class="form-group">
            <label for="route">Route:</label>
            <select id="route" ng-model="filter.routeId" ng-options="route.id as route.path for route in routes" class="form-control" aria-describedby="routeHelp">
                <option value="">Every route</option>
            </select>
            <span class="help-block" id="routeHelp"></span>
        </div>
        <div class="form-group">
            <label for="ip">IP:</label>
            <input id="ip" type="text" ng-model="filter.ip" class="form-control" aria-describedby="ipHelp">
            <span class="help-block" id="ipHelp"></span>
        </div>
        <div class="form-group">
            <label for="userAgent">User-Agent:</label>
            <input id="userAgent" type="text" ng-model="filter.userAgent" class="form-control" aria-describedby="userAgentHelp">
            <span class="help-block" id="userAgentHelp"></span>
        </div>
        <div class="form-group">
            <label for="method">Method:</label>
            <select id="method" ng-model="filter.method" class="form-control" aria-describedby="methodHelp">
                <option value="">Any</option>
                <option value="GET">GET</option>
                <option value="POST">POST</option>
                <option value="PUT">PUT</option>
                <option value="DELETE">DELETE</option>
            </select>
            <span class="help-block" id="methodHelp"></span>
        </div>
        <div class="form-group">
            <label for="path">Path:</label>
            <input id="path" type="text" ng-model="filter.path" class="form-control" aria-describedby="pathHelp">
            <span class="help-block" id="pathHelp"></span>
        </div>
        <div class="form-group">
            <label for="header">Header:</label>
            <input id="header" type="text" ng-model="filter.header" class="form-control" aria-describedby="headerHelp">
            <span class="help-block" id="headerHelp"></span>
        </div>
        <div class="form-group">
            <label for="body">Body:</label>
            <input id="body" type="text" ng-model="filter.body" class="form-control" aria-describedby="bodyHelp">
            <span class="help-block" id="bodyHelp"></span>
        </div>

        <button type="submit" class="btn btn-primary">Filter</button>
        <button type="button" ng-click="close()" class="btn btn-default">Cancel</button>
    </form>
</div>
