
.fusio-container
{
    max-width:600px;
    margin-top:32px;
    padding-bottom:15px;
    border:1px solid #ccc;
    display:none;
}

.fusio-container h1
{
    font-size:1.2em;
    font-weight:bold;
    background-color:#eee;
    margin:0px;
    margin-left:-15px;
    margin-right:-15px;
    margin-bottom:15px;
    padding:15px;
}

.fusio-code {
    font-family:monospace;
    font-size:1.6em;
    text-align:center;
    background-color:#ccc;
    padding:8px;
}

.fusio-footer {
    max-width:600px;
    margin-top:8px;
    padding:4px;
    text-align:right;
    color:#aaa;
}

.fusio-dashboard-pane
{
    margin-top:12px;
}

.fusio-dashboard-pane ul
{
    margin:0px;
    padding:0px;
    padding-left:10px;
    list-style-type:none;
}

.fusio-dashboard-pane li
{
    margin-bottom:8px;
}

.btn, .alert, .form-control, .modal-content
{
    border-radius:0px;
}

.nav-tabs > li > a
{
    border-radius:0px;
}

#loginError
{
    display:none;
}

#appName
{
    font-weight:bold;
}

#appResponseCode
{
    display:none;
}