
<div class="modal-header">
    <h3 class="modal-title">Create</h3>
</div>

<div class="modal-body">
    <uib-alert type="danger" close="closeResponse()" ng-if="response.success === false">
        {{response.message}}
    </uib-alert>
    <form name="usersCreateForm" ng-submit="create(user)">
        <div class="form-group">
            <label for="status">Status:</label>
            <select id="status" ng-model="user.status" ng-options="status.id as status.name for status in statuuus" aria-describedby="statusHelp" class="form-control">
            </select>
            <span class="help-block" id="statusHelp">The status of the user. An <b>Administrator</b> account can request an access token to the backend API with the user name and password. A <b>Consumer</b> account can only get an access token through an app.</span>
        </div>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" ng-model="user.name" aria-describedby="nameHelp" class="form-control">
            <span class="help-block" id="nameHelp">Name of the user must match the following regexp <code>[A-z0-9\-\_\.]{3,32}</code></span>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" ng-model="user.email" aria-describedby="emailHelp" class="form-control">
            <span class="help-block" id="emailHelp">Email address of the user</span>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" ng-model="user.password" aria-describedby="passwordHelp" class="form-control">
            <span class="help-block" id="passwordHelp">Password of the account</span>
        </div>
        <table class="table fusio-table-tab">
        <colgroup>
            <col width="20" />
            <col width="*" />
        </colgroup>
        <tbody>
        <tr ng-repeat="scope in scopes">
            <td><input type="checkbox" ng-model="user.scopes[$index]" ng-true-value="'{{scope.name}}'" ng-false-value="''" id="scope-{{scope.id}}" /></td>
            <td><label for="scope-{{scope.id}}">{{scope.name}}</label></td>
        </tr>
        </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" ng-click="close()" class="btn btn-default">Cancel</button>
    </form>
</div>
