
<div class="modal-header">
    <h3 class="modal-title">Update</h3>
</div>

<div class="modal-body">
    <uib-alert type="danger" close="closeResponse()" ng-if="response.success === false">
        {{response.message}}
    </uib-alert>
    <form name="routesUpdateForm" ng-submit="update(connection)">
        <input type="hidden" ng-model="connection.id" value="{{connection.id}}" />
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" ng-model="connection.name" aria-describedby="nameHelp" class="form-control" value="{{connection.name}}">
            <span class="help-block" id="nameHelp">Name of the connection must match the following regexp <code>[A-z0-9\-\_]{3,64}</code></span>
        </div>
        <div class="form-group">
            <label for="class">Class:</label>
            <input type="text" id="class" ng-model="connection.class" class="form-control" value="{{connection.class}}" disabled="disabled">
        </div>

        <div id="config-form"></div>

        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" ng-click="close()" class="btn btn-default">Cancel</button>
    </form>
</div>
