
<h1>Account / Change password</h1>

<uib-alert type="danger" close="closeResponse()" ng-if="response.success === false">
    {{response.message}}
</uib-alert>
<uib-alert type="success" close="closeResponse()" ng-if="response.success === true">
    {{response.message}}
</uib-alert>
<form name="changePasswordForm" ng-submit="updatePassword()" style="max-width:400px;">
    <div class="form-group">
        <label for="oldPassword">Old password:</label>
        <input type="password" id="oldPassword" ng-model="account.oldPassword" aria-describedby="oldPassword" required minlength="8" maxlength="128" class="form-control">
        <span class="help-block" id="oldPassword"></span>
    </div>
    <div class="form-group">
        <label for="newPassword">New password:</label>
        <input type="password" id="newPassword" ng-model="account.newPassword" aria-describedby="newPassword" required minlength="8" maxlength="128" class="form-control">
        <span class="help-block" id="newPassword"></span>
    </div>
    <div class="form-group">
        <label for="verifyPassword">Verify password:</label>
        <input type="password" id="verifyPassword" ng-model="account.verifyPassword" aria-describedby="verifyPassword" required minlength="8" maxlength="128" class="form-control">
        <span class="help-block" id="verifyPassword"></span>
    </div>
    <button type="submit" class="btn btn-primary">Change password</button>
</form>
